/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

/* Global Css */

:root{
    --primaryColor-main: #0f0f0f;
	--primaryColor-shade1: #455a64;
	--primaryColor-shade2: #353535;
	--primaryColor-shade3: #424242;
	--primaryColor-shade4: #5b5b5b;  

	--primaryLightColor-main: #353535;
	--primaryLightColor-shade1: #718792;
	--primaryLightColor-shade2: #5f5f5f;
	--primaryLightColor-shade3: #6d6d6d;
	--primaryLightColor-shade4: #888888;
	
	--primaryDarkColor-main:#000000;
	--primaryDarkColor-shade1:#1c313a;
	--primaryDarkColor-shade2:#0f0f0f;
	--primaryDarkColor-shade3:#1b1b1b;
	--primaryDarkColor-shade4:#323232;

    --secondaryColor-main: #d00000;
	--secondaryColor-red-A900: #d50000;
	--secondaryColor-green-A900: #64dd17;
	--secondaryColor-amber-700: #ffa000;
	--secondaryColor-amber-800: #ff8f00;
	--secondaryColor-cyan-100: #b2ebf2;
	--secondaryColor-cyan-300: #4dd0e1;
    --secondaryColor-lightblue-400: #29b6f6;
    --secondaryColor-blue-400: #42a5f5;

	--secondaryLightColor-red-A900: #ff5131;
	--secondaryLightColor-green-A900: #9cff57;
	--secondaryLightColor-amber-700: #ffd149;
	--secondaryLightColor-amber-800: #ffc046;
	--secondaryLightColor-cyan-100: #e5ffff;
	--secondaryLightColor-cyan-300: #88ffff;
    --secondaryLightColor-lightblue-400: #73e8ff;
    --secondaryLightColor-blue-400: #80d6ff;

	--secondaryDarkColor-red-A900: #9b0000;
	--secondaryDarkColor-green-A900: #1faa00;
	--secondaryDarkColor-amber-700: #c67100;
	--secondaryDarkColor-amber-800: #c56000;
	--secondaryDarkColor-cyan-100: #81b9bf;
	--secondaryDarkColor-cyan-300: #009faf;
    --secondaryDarkColor-lightblue-400: #0086c3;
    --secondaryDarkColor-blue-400:#0077c2;

    --secondaryColorTextGreen: #4AF626; /*used in footer for copyright*/

	--primaryTextColor-grey-light: #ffffff; 
	/*--primaryTextColor: #ffffff; 
	--primaryTextColor: #ffffff; 
	--primaryTextColor: #ffffff; 
	--primaryTextColor: #ffffff; 
	--secondaryTextColor: #ffffff; */
	--secondaryTextColor-dark: #000000; 

    --secondary-color-txt-300: #ff0000;
    --secondary-color-txt-500: #666666;

    --btn-color: #7857fe;
    --btn-color-sec: #eee6d1;
    --bg-dark: #2b2c2f;

    /* --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1); */
    --shadow-black-300: 0 5px 15px #0000004d;

    --main-to-dark-color: var(--bg-dark);
    --dark-to-main-color: var(--bg-dark); 
    --secondary-color: #ff0a5c;
    --secondary-color-txt-100: #000000;
    --secondary-color-txt-200: #00e065;
    --secondary-color-txt-400: #555555;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;    
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: #0000000d;

	--maroon: #800000;


}


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	background-color: var(--primaryDarkColor-shade2);
	color: var(--primaryTextColor-grey-light);
}
  
h1 {
	color: var(--primaryTextColor-grey-light);
	text-align: center;
}

div, p {
	font-family: 'Mosterrat', sans-serif;
	font-size: 110%;
	color: var(--primaryTextColor-grey-light);
}

.logo {
	font-family: 'Poppins', sans-serif;
	font-size: 180%;
	vertical-align: middle;
}
.colorGreen {
	color: var(--secondaryColorTextGreen);
}
.colorRed {
	color: var(--secondaryColor-main);
}
.center {
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 10px;
}

img {
	vertical-align: middle;
	width: 3%;
}
footer {
	margin-bottom: 1%;
}
.card {
	margin: 2%;
	padding: 1%;
	border-radius: 15px;
	box-shadow: 2px 2px 3px var(--primaryTextColor-grey-light);
	background: var(--primaryLightColor-shade2);
	color: var(--primaryDarkColor-main);

}

nav{
	margin-top: 0px;
	background: var(--primaryDarkColor-shade3);
	padding: 1%;
}